html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6effe;
}

@font-face {
    font-family: 'CustomFont';
    src: url('font1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.stripe {
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    background-color: #000000;
    transition: background-color 0.3s ease;
}

.stripe-text {

    font-family: 'CustomFont';
    font-size: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.stripe-text-item {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
    margin: 0 15px 20px 0;
    width: 100%;
    text-align: center;
    transition: color 0.5s ease;
}



.stripe-text-item:hover {
    color: #5ce261;
    transition: color 0.3s ease;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);


}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-family: 'CustomFont';
    letter-spacing: 2px;
    font-size: larger;

}



.navbar-right {
    /* font-weight: bolder; */
    display: flex;
    align-items: center;
    padding-right: 100px;
    justify-content: space-between;
    width: calc(100% - 1000px);

}

.navbar-right a {
    font-size: large;
    font-weight: bolder;
    color: rgb(135, 135, 135);
    text-decoration: none;
    margin-right: 15px;
}

.navbar-right span {
    color: rgb(0, 0, 0);
    margin-right: 15px;
}

.navbar-right a:hover {
    color: #000000;
    transition: color 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* height: 200vh; */
}

.text {
    font-size: 2vw;
    letter-spacing: .02em;
    /* line-height: 100%; */
    margin: 0;
    letter-spacing: 2px;

    /* width: 100%; */
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1, .5, .5, 1) 0.5s;


    border-bottom: 1px solid #2F2B28;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.logo-span {
    position: absolute;
    /* width: 109%; */
    /* height: 100%; */
    background-color: #7b14ec;
    color: #ef88f5;

    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transform-origin: center;
    transition: all cubic-bezier(.1, .5, .5, 1) 0.4s;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text:hover>span {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container a {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    padding: 100px 50px;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    font-size: 55px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    font-family: 'CustomFont';
    letter-spacing: 2px;
}

.hero-description {
    font-size: 20px;
    color: rgb(115, 115, 115);
    margin-bottom: 70px;
}

.hero-button-icon {
    margin-left: 10px;
    height: 1.5em;
    width: 1.5  em;
}

.hero-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.hero-button-container a {
    display: flex;
    align-items: center;
}

.hero-button {
    font-family: 'CustomFont';
    letter-spacing: 2px;
    font-size: large;
    padding: 15px 40px;
    background-color: #7b14ec;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.hero-button:hover {
    box-shadow: 30px 10px 60px rgb(194, 114, 255);
    transform: translateY(-5px);
}

.hero-right {
    display: flex;
}

.hero-image {
    height: auto;
    max-width: 100%;
    margin-bottom: 30px;
}

.hero-image--middle {
    margin-left: -30px;
}

.hero-image--bottom {
    margin-left: -60px;
}