*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #3F328C; */
    
}

nav{
    height: 90px;
    background-color:  #1a133f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0rem calc((100vw-1300px)/2);
}

.logo{
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
    padding: 0 3rem;
    letter-spacing: 2px;
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    font-size: 1.3rem
}

nav a:hover{
    color: #000;
}

.hero{
    background: #3F328C;
}

.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 5rem calc((100vw-1300px)/2);
}

.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding: 0rem 2rem;
}


.column-left h1{
    margin-bottom: 1rem;
    font-size: 4rem;
}

.column-left p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

button{
    padding: 1rem 3rem;
    border: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: #ffffff;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
}

button:hover{
    background: #fff;
    color: #000;
}


.column-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image{
    width: 50%;
    height: 50%;
}

@media screen and (max-width:768px) {
    .hero-container{
        grid-template-columns: 1fr;
    }
    
}